{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card mb-3 mx-auto my-5" style="max-width: 740px;">
  <div class="row g-0 border">
    <div class="col-md-6">
      <img src="{{ car.img.url }}" class="img-fluid rounded-start" alt="...">
     
      
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Brand: {{ car.brand_name.name }}</h5>
        <h5 class="card-title">Car name: {{car.car_name }}</h5>
        <p>Description: {{ car.description }}</p>
        <p>Price: ${{ car.car_price }}</p>
        <p>Quantity: {{ car.quantity }}</p>
        
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'add_to_profile' car.id %}" class="btn btn-primary">Buy now</a>
  {% endif %}
</div>





<h2>Comments</h2>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.name }} - {{ comment.created_at }}</li>
        {% endfor %}
    </ul>



<div class="card m-2">
  <div class="card-body">
    <form method="post">
      <h1>Add Comment</h1>
        {% csrf_token %}
        {{form | crispy}}

      <button class="btn btn-warning">Submit</button>
</form>
  </div>
</div>

{% endblock %}